Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-pro-type-const-cast,
  cppcoreguidelines-pro-type-reinterpret-cast,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-make-member-function-const,
  readability-qualified-auto
WarningsAsErrors: ''
HeaderFilterRegex: '[/\\]Blackframe[/\\]'
FormatStyle: file
